*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
sunaropdaback/config.py

accounts/migrations/**
!accounts/migrations/__init__.py
boardpage/migrations/**
!boardpage/migrations/__init__.py
mainpage/migrations/**
!mainpage/migrations/__init__.py
messagepage/migrations/**
!messagepage/migrations/__init__.py

